<app-asset-short-stage *ngFor="let stage of stages" [assetShortStage]="['stage']">
  <div class="card-content">
      <img src="{{stage.assetIcon}}}">
      <span></span>
      <div>
        <table class="table">
          <tr>
            <th colspan="2">{{stage.assetName}}</th>
          </tr>
          <tr>
            <td>Status:</td>
            <td>
              <mat-chip>{{stage.status}}</mat-chip>
            </td>
          </tr>
          <tr>
            <td>Last activity:</td>
            <td>{{stage.lastActivity}}</td>
          </tr>
          <tr>
            <td>Last location update:</td>
            <td>{{stage.lastLocationUpdate}}</td>
          </tr>
          <tr>
            <td>Last seen alive:</td>
            <td>{{stage.lastSeenAlive}}</td>
          </tr>
          <tr>
            <td>Alerts:</td>
            <td>
              <mat-chip>{{stage.alerts}}</mat-chip>
            </td>
          </tr>
        </table>
      </div> 
  </div>
</app-asset-short-stage>