<div class="shadow">
  <mat-card class="card">
    <mat-card-title>
      {{title}}
    </mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
    <section>
      <mat-form-field class="lg-field">
        <input matInput type="text" placeholder="username"  formControlName="username">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="lg-field">
        <input matInput type="password" placeholder="password" formControlName="password">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="lg-field">
        <input matInput type="email" placeholder="email" formControlName="email">
      </mat-form-field>
    </section>
    <section>
        <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">{{submitText}}</button>
    </section>
  </mat-card-content>
  </form>
  </mat-card>
</div>

<!-- <mat-card-content>
        <section>
          <mat-form-field class="lg-field">
            <input matInput type="text" placeholder="username" formControlName="username">
            <mat-hint *ngIf="username.errors && username.touched">
              <mat-error *ngIf="username.hasError('required')">
                field is required
              </mat-error>
              <mat-error *ngIf="username.invalid && username.dirty && username.hasError('pattern')">
                field should have no special characters
              </mat-error>
              <mat-error *ngIf="username.dirty && (username.hasError('minlength') || username.hasError('maxlength'))">
                field should have {{usernameMin}} to {{usernameMax}} characters
              </mat-error>
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="lg-field">
            <input matInput type="password" placeholder="password" formControlName="password">
            <mat-hint *ngIf="password.errors && password.dirty">
              <mat-error *ngIf="password.hasError('required')">
                field is required
              </mat-error>
              <mat-error *ngIf="password.dirty && (password.hasError('minlength') || password.hasError('maxlength'))">
                field should have {{passMin}} to {{passMax}} characters
              </mat-error>
            </mat-hint>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field class="lg-field">
            <input matInput type="email" placeholder="email" formControlName="email">
            <mat-hint *ngIf="email.errors && email.dirty">
              <mat-error *ngIf="email.hasError('required')">
                field is required
              </mat-error>
              <mat-error *ngIf="email.invalid || email.hasError('pattern')">
                field is invalid
              </mat-error>
            </mat-hint>
          </mat-form-field>
        </section>
        <section>
          <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">{{submitText}}</button>
        </section>
        <section>
          <ng-content></ng-content>
        </section>
      </mat-card-content> -->