.pre-stripes {

}

mat-card-content.pre-stripes > div {
    width: 50%;
    height: 300px;
}

mat-card-content.pre-stripes > div:first-child {
    display: inline-block;
    /* background-color: blue; */
}

mat-card-content.pre-stripes > div:last-child {
    float: right;
    /* background-color: aqua; */
}

mat-card-content.pre-stripes > div:last-child > * {
    height: inherit;
    float: inherit;
}
span {
    width: 50%;
}
.img {
    width:100%;
    display: table;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}