<mat-sidenav-container color="primary">
    <mat-sidenav mode="side" opened="true"></mat-sidenav>
    <mat-sidenav-content class="side-bar-container">
        <mat-toolbar color="primary">
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>map</mat-icon>
                    <span class="lable">Asset Map</span>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>track_changes</mat-icon>
                    <span class="lable">Assert status</span>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>report_problem</mat-icon>
                    <span class="lable">All assert alerts</span>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>receipt</mat-icon>
                    <span class="lable">Reports</span>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>share</mat-icon>
                    <span class="lable">Share Trips</span>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>settings</mat-icon>
                    <span class="label">Admin</span>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row class="row">
                <button mat-button class="menu-icon">
                    <mat-icon>code</mat-icon>
                    <span class="lable">System Developer</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>