.footer-container {
    width: 100%;
    height: auto;
    background-color: goldenrod;
    font-family: 'Lora', serif;
    display: flex;
}

.copyright {
    text-align: center;
    display: block;
    font-size: 80%;
    background-color: goldenrod;
    font-family: 'Lora', serif;
}